
/* ===========================Business Software Development================ */


.bussiness-section{
    background-color: #2c3947;
    width: 100%;
    height: auto;
  }

  .business-card{
    border-right: 1px dotted white;
    margin-bottom: 150px;
    margin-top: 50px;
   
  }

  /*==================== Ecommerce Website and App=============== */
  .ecommerce-section{
    background-image: url("../image/product_title_bar.jpg");
    height: 250px;
  }

  .ecom-card{
    background-color: #F2F4F4;
    transition: margin-bottom 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
  }

  .ecom-card:hover{
    border-bottom: 2px solid blue;
    margin-bottom: -50px;
  }
  