
/* ===========================Business Software Development================ */


.bussiness-section{
    background-color: #2c3947;
    width: 100%;
    height: auto;
  }

  .business-card{
    border-right: 1px dotted white;
    margin-bottom: 150px;
    margin-top: 50px;
   
  }